.whereweare{
    
    
    max-width: var(--width-basic);
    margin-bottom: 70px;
}

@media screen and (max-width:764px) {
    .whereweare_block {
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
}

@media screen and (min-width:765px) {
    .whereweare_block {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}
.services_whereweare_text{
    text-align: start;
    margin-top: 25px;
    margin-bottom: 50px;
    
    line-height: var(--line-height-text);
}

@media screen and (max-width:1199px) {
    .services_whereweare_text {
        width: 96%;
            text-align: start;
    
            line-height: var(--line-height-text);
        }
}

@media screen and (min-width:1200px) {
    .services_whereweare_text {
            text-align: center;
           width: 70%;
            margin-bottom: 35px;
    
            line-height: var(--line-height-text);
        }
}
.contacts_howtogo{
    padding-top: 10px;
    max-width: 96%;
}
@media screen and (min-width:765px) {
    .contacts_howtogo {
            padding-top: 10px;
            width: 35%;
        }
}
.contacts_howtogo_list{
    padding-left: 50px;
}
.contacts_text{
    font-size: var(--text-basic);
    line-height: var(--line-height-text);
}
.contacts {

    width: 96%;
    justify-content: start;
}

@media screen and (min-width:765px) {
    .contacts {
        padding-top: 10px;
        width: 29.3%;
        justify-content: start;
    }
}


.contacts_google{
    max-width: var(--width-basic);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}
@media screen and (max-width:1199px) {
    .contacts_map .contacts_map_frame {
        width: 96%;

    }
}

@media screen and (min-width:1200px) {
    .contacts_map {
        max-width: var(--width-basic);
        text-align: center;
        margin-bottom: 50px;
    }
}
.contacts_photo{
    justify-content: space-between;
    object-fit: cover;
    max-width: var(--width-basic);
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

@media screen and (min-width:765px) {
.contacts_photo {
        justify-content: space-between;
        object-fit: cover;
        max-width: var(--width-basic);
        display: flex;
        flex-direction: row;
        margin-bottom: 120px;
    }
}
.contacts_photo_item{
    object-fit: cover;
    max-width: 96%;
    padding: 0 10px;
}
@media screen and (min-width:765px) {
.contacts_photo_item {
        object-fit: cover;
        max-width: 50%;
        padding: 0 20px;
    }
}