@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
      font-family: 'Gilroy';
      src: local('Gilroy Ultra Light'), local('Gilroy-Ultra-Light'),
          url('../fonts/Gilroy-UltraLight.woff2') format('woff2'),
          url('../fonts/Gilroy-UltraLight.woff') format('woff'),
          url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
  }

  @font-face {
      font-family: 'Gilroy';
      src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
          url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
          url('../fonts/Gilroy-Extrabold.woff') format('woff'),
          url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
  }
  @font-face {
      font-family: 'Gilroy';
      src: local('Gilroy Medium'), local('Gilroy-Medium'),
          url('../fonts/Gilroy-Medium.woff2') format('woff2'),
          url('../fonts/Gilroy-Medium.woff') format('woff'),
          url('../fonts/Gilroy-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }
  @font-face {
      font-family: 'GropledBold';
      src: local('GropledBold'), local('GropledBold'),
          url('../fonts/Gropled-Bold.otf') format('truetype');
      font-weight: 700;
      font-style: bold;
  }
  @font-face {
      font-family: 'Plovdiv-Bold';
      src: local('Plovdiv-Bold'), local('Plovdiv-Bold'),
          url('../fonts/PlovdivDisplay-Bold.otf') format('truetype');
      font-weight: 700;
      font-style: bold;
  }
  @font-face {
      font-family: 'DaysOne';
      src: local('DaysOne'), local('DaysOne'),
          url('../fonts/DaysOne-Regular.ttf') format('truetype');
      font-weight: 700;
      font-style: bold;
  }
  @font-face {
      font-family: 'Antario';
      src: url('../fonts/Antario-Regular.eot');
      src: local('Antario'), local('Antario-Regular'),
          url('../fonts/Antario-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Antario-Regular.woff2') format('woff2'),
          url('../fonts/Antario-Regular.woff') format('woff'),
          url('../fonts/Antario-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Antario';
      src: url('../fonts/Antario-Bold.eot');
      src: local('Antario Bold'), local('Antario-Bold'),
          url('../fonts/Antario-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Antario-Bold.woff2') format('woff2'),
          url('../fonts/Antario-Bold.woff') format('woff'),
          url('../fonts/Antario-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }

  @font-face {
      font-family: 'Antario';
      src: url('../fonts/Antario-BoldItalic.eot');
      src: local('Antario Bold Italic'), local('Antario-BoldItalic'),
          url('../fonts/Antario-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Antario-BoldItalic.woff2') format('woff2'),
          url('../fonts/Antario-BoldItalic.woff') format('woff'),
          url('../fonts/Antario-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
  }

  @font-face {
      font-family: 'Antario';
      src: url('../fonts/Antario-Italic.eot');
      src: local('Antario Italic'), local('Antario-Italic'),
          url('../fonts/Antario-Italic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Antario-Italic.woff2') format('woff2'),
          url('../fonts/Antario-Italic.woff') format('woff'),
          url('../fonts/Antario-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  /*  директиви для шрифтів BF*/
  @font-face {
      font-family: 'Evolventa';
      src: local('Evolventa-Bold'), local('Evolventa-Bold'),
          url('../fonts/bf/Evolventa-Bold.ttf') format('truetype');
      font-weight: 400;
      font-style:normal;}

          @font-face {
              font-family: 'Evolventa';
              src: local('Evolventa-BoldObligue'), local('Evolventa-BoldObligue'),
                  url('../fonts/bf/Evolventa-BoldOblique.ttf') format('truetype');
              font-weight: 400;
              font-style: normal;
          }
                  @font-face {
                      font-family: 'Evolventa';
                      src: local('Evolventa-Oblique'), local('Evolventa-Oblique'),
                          url('../fonts/bf/Evolventa-Oblique.ttf') format('truetype');
                      font-weight: 400;
                      font-style: normal;
                  }

                                  @font-face {
                                      font-family: 'Evolventa';
                                      src: local('Evolventa-Regular'), local('Evolventa-Regular'),
                                          url('../fonts/bf/Evolventa-Regular.ttf') format('truetype');
                                      font-weight: 400;
                                      font-style: normal;
                                  }
    @font-face {
            font-family: 'Hero-Light';
            src: local('Hero-Light'), local('Hero-Light'),
                url('../fonts/bf/Hero-Light.otf') format('truetype');
            font-weight: 400;
            font-style: normal;}

            @font-face {
                    font-family: 'PoiretOne-Regular';
                    src: local('PoiretOne-Regular'), local('PoiretOne-Regular'),
                        url('../fonts/bf/PoiretOne-Regular.ttf') format('truetype');
                    font-weight: 400;
                    font-style: normal;}

                    @font-face {
                            font-family: 'Intro';
                            src: local('Intro'), local('Intro'),
                                url('../fonts/bf/Intro.otf') format('truetype');
                            font-weight: 400;
                            font-style: normal;}
@font-face {
    font-family: 'Intro';
    src: local('Intro-inline'), local('Intro-inline'),
        url('../fonts/bf/Intro-Inline.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}