.footer{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 250px;
    margin-top: 40px;
    
    
}
.footer_block{
    margin-top: 35px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}
.contacts_block{
    display: flex;
    flex-direction: column;
}
.footer_maps {
    height: 215px;
    border: 8px double var(--light-grey);
    border-radius: 10px;
}
.contacts_line {
    margin-left: 30px;
    border-bottom: 1px solid var(--light-grey);
    width: auto;
}

.contacts_references {
    display: flex;
    padding-left: 65px;
    flex-direction: column;
}
.footer_reference{
height: 24px;
}
.contacts_references_link {
    
    color: var(--dark-grey);
    font-size: 10px;
}

.contacts_references_link:hover,
.contacts_references_link:focus {
    color: var(--light-grey);
}

.contacts_adress_item {
    color: var(--dark-grey);
    font-size: 10px;
}

.contacts_adress_item:hover,
.contacts_adress_item:focus {
    color: var(--dark-grey);
}

.contacts_title {
    font-size: 10px;
    color: var(--dark-green)
}
.contacts_socials{
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}
.footer_copyright {
    margin: 43px 0;
    display: flex;
justify-content: flex-start;
}

.footer_copyright > p{
    font-size: 10px;
}