:root {
--dark-green: #35592D;
--dark-grey: #737372;
--light-grey: #BDBAB8;
--dark-yellow:#d88d02;
--middle-yellow:#f8bf00;
--time: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
--shadow:0px 0px 70px -50px rgba(0, 0, 0, 0.4)
}
body {
    font-family: 'Antario';
    color: var(--dark-grey);
    background-color: RGBA(107, 135, 8, 0.11);
}

a{
    text-decoration: none;
}

.line_bold {
margin-left: 50px;
    width: 1250px;
    height: 3px;
    border-bottom: 2px solid var(--dark-green);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
li, ul {
    padding-inline-start: 0;
}

section {
    width: 800px;
}
ul{
    margin: 0;
}