.hero {display: flex;
margin-top: 120px;
justify-content: center;
margin-bottom: 50px;}

.hero_image {
    margin-left: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
}
.hero_image--first{
    margin-top: 140px;
}
.hero_image--second {
    margin-top: -40px;
} 
.hero_image--third{
    margin-top: 40px;
}
 .hero_image:hover, .hero_image:focus{
    transform: scale(1.1);
 }

 /* додатковий блок*/
 .additional  {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .additional_text{
    margin-left: 40px;
    font-family: 'Halymon';
    font-size: 45px;
 }
 .additional_image{
    border-radius: 10px;
 }