.hero {display: flex;
    width: 920px;
    margin-left: 180px;
    flex-direction: column;
justify-content: center;
margin-bottom: 50px;}

.hero_image {
    margin-left: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    object-fit: cover;
    /* border-radius: 10px; */
}
.hero_image--first{
    margin-top: 95px;
}
.hero_image--second {
    margin-top: -42px;
} 
.hero_image--third{
    margin-top: 0;
}
.hero_image--four {
    margin-top: -22px;
}
 .hero_image:hover, .hero_image:focus{
    transform: scale(1.1);
 }
.hero_all_image{
    display: flex;
}
h1{padding-top: 50px;
    font-size: 35px;
    text-align: center;
    color: var(--dark-green);
    padding-bottom: 25px;
    margin: 0;
}
.hero_text{
    
    text-align: center;
    line-height: 17px;
    font-size: 12px;
    
}
.hero_text_block{
margin-left: auto;
margin-right: auto;
width: 560px;
}
.hero_link {
    margin-bottom: 85px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.hero_anchor {
    color: var(--dark-green);
    font-size: 10px;
}
 