.about_us{
    padding-left: 10px;
    max-width: 1200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width:765px) {
    .about_us {
            max-width: 1200px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
            flex-direction: column;
            justify-content: center;
        }
}

.about_us_block {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow);
    padding-left: 10px;
    padding-right: 20px;

}
@media screen and (min-width:765px) {
    .about_us_block {
            max-width: 580px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: var(--shadow);
    
        }
}
.about_us_text{
    width: 410px;
font-size: 12px;
line-height: 1.8;
    width: 100%;
    
}
/* .about_us_block--left {
margin-left: 50px;
} */


@media screen and (max-width:764px) {
    .about_us_item {
            max-width: 1200px;
            display: flex;
            justify-content:start;
            align-items: flex-start;
            flex-direction: column;
            /* padding-left: 10px;
            padding-right: 10px; */
        
            /* padding-bottom: 10px; */
            /* margin-bottom: 20px; */
    
        }
}
@media screen and (min-width:765px) {
    .about_us_item {
            max-width: 1200px;
            height: 88px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* padding-bottom: 10px; */
            /* margin-bottom: 20px; */
    
        }
}

.about_us_block_small{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 715px;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (min-width:765px) {
    .about_us_block_small {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 915px;
            flex-grow: 1;
        }
}
/* .about_us_image{
    border-radius: 10px;
    box-shadow: var(--shadow);
} */
@media screen and (max-width:764px) {
    .about_us_bigtitle {
        /* padding-left: 15px; */
        text-align: start;
            font-size: 35px;
            margin-bottom: 40px;
            color: var(--dark-first);
        }
}
@media screen and (min-width:765px) {
    .about_us_bigtitle {
        color: var(--dark-first);
        padding-left: 15px;
            font-size: 35px;
            margin-bottom: 40px;
        }
}

.about_us_title{
    width: 265px;
    font-size: 18px;
    padding-left: 23px;
    font-style:normal;
    /* text-align: center; */
    /* font-weight:bolder; */
}
@media screen and (min-width:765px) {
    .about_us_title {
            width: 265px;
            font-size: 18px;
            padding-left: 23px;
            font-style: normal;
            /* font-weight:bolder; */
        }
}

.about_title_block{
    max-width: 265px;
    padding-top: 7px;
}
@media screen and (max-width:764px) {
    .about_title_block {
            max-width: 265px;
        }
}
.about_us_line {
    max-width: 1200px;
    margin-left: 5px;
    margin-right: 5px;
    height: 3px;
    border-bottom: 1px solid var(--light-second);
    display: flex;
    justify-content: center;
}  
.about_us_arrow{
    fill: var(--dark-gray);
} 
.about_us_arrow:hover, .about_us_arrow:focus{
    fill: var(--light-second);
    cursor: pointer;
}
/* стрілка */
.about_us_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 20px;
}
.why_we {
    max-width: 1200px;
    margin-top: 255px;
    margin-left:10px;
    margin-right: 10px;
    height: 440px;
    margin-bottom: 300px;

}
@media screen and (min-width:765px) {
    .why_we {
            max-width: 1200px;
            margin-top: 150px;
            margin-left: auto;
            margin-right: auto;
            height: 440px;
            margin-bottom: 150px;
        }
}

.why_we_image_first {
    box-shadow: 0px 123px 147px -45px rgba(0, 0, 0, 0.45);
    object-fit: cover;
    /* position: absolute;
    left:30px; */
    margin-top: 65px;
    margin-bottom: 100px;
    z-index: 3;
    position: relative;
    /*top: 100px; */
    

}
@media screen and (min-width:765px) and (max-width:1199px) {
    .why_we_image_first {
            box-shadow: 0px 123px 147px -45px rgba(0, 0, 0, 0.45);
            object-fit: cover;
            margin-top: 65px;
            z-index: 3;
            position: relative;
            top: 100px;
            left: 70px;
        }
}
@media screen and (min-width:1200px) {
    .why_we_image_first {
            box-shadow: 0px 123px 147px -45px rgba(0, 0, 0, 0.45);
            object-fit: cover;
            margin-top: 65px;
            z-index: 3;
            position: relative;
        top: 100px;
        left: 200px;
        }
}
.why_we_image_second {
    margin-left: 135px;
    /* position:relative;
    left: 120px; */
    object-fit: cover;
    z-index: 0;
     position: absolute;
    /*left:1000px; */
}

@media screen and (min-width:765px) and (max-width:1199px) {
    .why_we_image_second {
            margin-left: 205px;
            /* position:relative;
            left: 120px; */
            object-fit: cover;
            z-index: 0;
            position: absolute;
            /*left:1000px; */
        }
}


@media screen and (min-width:1200px) {
    .why_we_image_second {
            margin-left: 335px;
            /* position:relative;
        left: 120px; */
            object-fit: cover;
            z-index: 0;
            position: absolute;
            /*left:1000px; */
        }
}

.why_we_title{

    top: -595px;
    font-size: 35px;
    max-width: 320px;
    position: relative;
    color: var(--dark-first);
    /* left: 330px;
    top: -225px */
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .why_we_title {
    
            position: relative;
            left: 400px;
            top: -415px;
            font-size: 35px;
            max-width: 320px;
            position: relative;
            
        }
}

@media screen and (min-width:1200px) {
.why_we_title {
       
        position: relative;
        left: 530px;
        top: -415px;
        font-size: 35px;
        max-width: 320px;
        position: relative;
        /* left: 330px;
    top: -225px */
    }
}

.why_we_text{
    font-size: 12px;
    line-height: 1.8;
    position: relative;
    max-width: 300px;
    left: 30px;
    top:-100px; 
       padding-bottom: 1px;
    
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .why_we_text {
            font-size: 12px;
            line-height: 1.8;
            position: relative;
            max-width: 250px;
            left: 530px;
            top: -430px;
            padding-bottom: 1px;
    
        }
}

@media screen and (min-width:1200px) {
.why_we_text {
        font-size: 12px;
        line-height: 1.8;
        position: relative;
        max-width: 300px;
        left: 660px;
        top: -430px;
        padding-bottom: 1px;

    }
}
.why_we_link{
    font-size: 10px;
    position: relative;
    color: var(--dark-first);
    left: 30px;
     top: -100px; 

}
@media screen and (min-width:765px) and (max-width:1199px) {
    .why_we_link {
            font-size: 10px;
            position: relative;
            color: var(--dark-first);
            left: 530px;
            top: -430px;
    
        }
}
@media screen and (min-width:1200px) {
    .why_we_link {
            font-size: 10px;
            position: relative;
            color: var(--dark-first);
            left: 660px;
            top: -430px;
    
        }
}
.onetwothree{
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
@media screen and (min-width:765px) {
    .onetwothree {
            flex-direction: row;
            display: flex;
            margin-bottom: 0;
        }
}
.onetwothree_item::before{
    content: 'NO.';
    font-size: 10px;
    color: var(--dark-gray);
    text-align: start;
}
.onetwothree_item{
    margin-top: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    /* text-align: center; */
}
@media screen and (min-width:765px) {
    .onetwothree_item {
            width: 33.3%;
            margin: 0 10px;
            /* text-align: center; */
        }
}
.onetwothree_number--text{
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--dark-first);
 }

.onetwothree_item_title--text{
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    color: var(--dark-first);
}
.onetwothree_title{
    text-align: center;
    height: 50px;
    margin-bottom: 25px;
    color: var(--dark-first);
}
.onetwothree_text{
    margin-bottom: 20px;
    padding-right: 20px;
}
@media screen and (min-width:765px) {
    .onetwothree_text {
            margin-bottom: 150px;
        }
}
@media screen and (min-width:765px) {
    .why_we_line {
        display: none;
    }
}
.onetwothree_text--content{
    text-align: justify;
font-size: 12px;
    line-height: var(--line-height-text);
}

 /* CALL TO ACTIONS */
 /* .cta{
    background: linear-gradient(90deg,
            rgba(215, 215, 217, 1) 5%,
            rgba(215, 215, 217, 0) 100%),
            linear-gradient(270deg, rgba(215, 215, 217, 1) 60%, rgba(215, 215, 217, 0) 100%),
             url(../images/cta_31.jpg);
        background-repeat: no-repeat;
        background-size: 50%, auto, auto 600px; 
        background-position: 0, 0, 15%;

 } */
 @media screen and (max-width:764px) {

    .cta {
            background: linear-gradient(90deg,
                    rgba(215, 215, 217, 1) 5%,
                    rgba(215, 215, 217, 0) 90%),
                linear-gradient(270deg, rgba(215, 215, 217, 1) 60%, rgba(215, 215, 217, 0) 100%),
                url(../images/cta_31.jpg);
            background-repeat: no-repeat;
            background-size: 50%, auto, auto 600px;
            background-position: 0, 0, 15%;
    
        }
 }
@media screen and (min-width:765px) and (max-width:1199px) {
    .cta {
            background:
                linear-gradient(270deg, rgba(215, 215, 217, 1) 40%, rgba(215, 215, 217, 0) 100%),
                url(../images/cta_31_ad.jpg);
            background-repeat: no-repeat;
            background-size: auto, auto 600px;
            background-position: 0;
        
        }
    }

 @media screen and (min-width:1200px) {
    .cta {
            background: 
                linear-gradient(270deg, rgba(215, 215, 217, 1) 40%, rgba(215, 215, 217, 0) 100%),
                url(../images/cta_31.jpg);
            background-repeat: no-repeat;
            background-size: auto, auto 600px;
            background-position: 0, 0;
     /* linear-gradient(90deg,
            rgba(215, 215, 217, 1) 5%,
            rgba(215, 215, 217, 0) 100%), */
        }
 }
 .cta_block{
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: end;

 }
 .contact_us_block {
    display: flex;
        flex-direction: column;
        height: 600px;
        margin-top: auto;
        margin-bottom: auto;
    align-items: center;
}

 @media screen and (max-width:764px) {
     
 .contact_us_block {
     max-width: 450px;
     justify-content: center;
     display: flex;
    background: linear-gradient(90deg,
                rgba(215, 215, 217, 1) 0%,
                rgba(215, 215, 217, 0) 100%),
            linear-gradient(270deg,
                rgba(215, 215, 217, 1) 0%,
                rgba(215, 215, 217, 0) 100%), url(../images/cta_31_ad.jpg);
        background-repeat: no-repeat;
        background-size: auto, auto, auto 450px;
        background-position: 0, 0, start;
 /*  */
 }
 }
 @media screen and (min-width:765px) and (max-width:1199px) {
 .contact_us_block{
    max-width: 450px;
        margin-left: 50%;
        justify-content: end;
    
        background-color: transparent;
 }
 }
 @media screen and (min-width:1200px) {
     .contact_us_block {

         max-width: 450px;
         margin-left: 50%;
         justify-content: end;
         
         background-color: transparent;

     }
 }


 .contact_us_title {
     font-size: 35px;
     text-align: center;
     color: var(--dark-first);
     margin-top: 30px;
 }

 .contact_list_price {
     padding-left: 30px;
     padding-right: 30px;
     width: 100%;
     flex-direction: column;
     display: flex;
     justify-content: center;
     margin-bottom: 20px;

 }

 .contact_us_text {
     padding-left: 30px;
     padding-right: 30px;
     font-size: 14px;
     line-height: 1.8;
     margin-bottom: 20px;
 }

 .price_list_block {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .contact_list_price_item {
     width: 100%;
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .contact_list_price_name,
 .contact_list_price_number {
     font-size: 14px;
     line-height: 1.4;
     font-style: italic;
 }


 .contact_us_button {
     margin-bottom: 20px;
     width: 200px;
     height: 60px;
     border-radius: 20px;
     background-color: var(--most-light-second);
     color: var(--dark-first);
     font-weight: bold;
     border: 1px solid var(--dark-first);
     box-shadow: 0px 0px 70px -50px rgba(0, 0, 0, 0.4);
 }

 .short_line {
     max-width: 550px;
     height: 1px;
 }

 .contact_us_button:hover,
 .contact_us_button:focus {
     cursor: pointer;
     background-color: var(--light-second);
     color: var(--dark-first);
 }