
 /* HERO */
 .services_hero{
    margin-top: 50px;
    max-width: var(--width-basic);
    margin-bottom: 70px;
 }
 @media screen and (min-width:765px) {
    .services_hero {
            margin-top: 50px;
            max-width: var(--width-basic);
            margin-bottom: 120px;
        }
 }

 .services_hero_img_block{
    width: 96%;
 }
 @media screen and (min-width:1200px) {
.services_hero_img_block {
        width: 100%;
    }
 }
.services_hero_img{
    display: none;
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .services_hero_img {
        display: block;
            width: 100%;
            object-fit: cover;
    
            height: 600px;
        }
}

@media screen and (min-width:1200px) {
    .services_hero_img {
        display: block;
            width: 100%;
            object-fit: cover;
            
            height: 600px;
        }
}

.services_hero_img_ad {
    max-width: 100%;
    
    object-fit: cover;
    height: 600px;
}
h1{
    width: auto;
}

@media screen and (min-width:765px) {
    .services_hero_img_ad {
        display: none;
    }
}

@media screen and (max-width: 764px) {

    .services_h2_title {
        width: 96%;
        margin-top: 80px;
        font-weight: 700;
        text-align: center;
        line-height: 1.4;
        color: var(--dark-first);
        margin-bottom: 50px;

        font-size: 35px;
        padding-left: 10px;
        padding-right: 10px;

    }
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .services_h2_title {
        width: 96%;
        margin-bottom: 50px;
    }}
@media screen and (min-width: 765px) {

    .services_h2_title {
        margin-bottom: 50px;
        font-size: 45px;
        font-weight: 700;
        text-align: start;
        color: var(--dark-first);
    line-height: var(--line-height-text);
        
    }
}
/* h1{
    text-align: center;
}

@media screen and (min-width: 765px) {

    h1 {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: var(--dark-first);
        line-height: var(--line-height-text);

    }
} */
/* .services_after_h2{
    line-height: var(--line-height-text);
    margin-bottom: 50px;
} */
@media screen and (max-width:764px) {
    .services_after_h2 {
        width: 96%;
            line-height: var(--line-height-text);
            margin-bottom: 50px;
            text-align: center;
            
        }
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .services_after_h2 {
        width: 96%;
        margin-bottom: 50px;
    
    }
}
@media screen and (min-width:765px) {
    .services_after_h2 {
            width: 70%;
            text-align: center;
            line-height: var(--line-height-text);
            margin-bottom: 40px;
        }
}
 /* ABOUT */

.services_about{
    max-width: var(--width-basic);
    margin-bottom: 70px;
    
}
@media screen and (min-width:765px) {
    .services_about {
            max-width: var(--width-basic);
            margin-bottom: 120px;
    
        }
}
@media screen and (max-width:764px) {
    .services_about_block {
            display: flex;
            flex-direction:column-reverse;
            width: 96%;
            
        }
}
@media screen and (min-width:765px) and (max-width:1199px){
    .services_about_block {
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
        width: 96%;
        
    }
}
@media screen and (min-width:1200px) {
    .services_about_block {
        flex-direction: row;
            display: flex;
            width: 100%;
        
        }
}
@media screen and (max-width:1199px) {
    .services_about_text {
        font-size: var(--text-basic);
            line-height: var(--line-height-text);
            text-align: justify;
            width: 96%;
            
        }
}

@media screen and (min-width:1200px) {
    .services_about_text {
        font-size: var(--text-basic);
        margin-top: 0;
        margin-bottom: 0;
            padding-right: 30px;
            line-height: var(--line-height-text);
            text-align: justify;
            width: 50%;
        }
}

@media screen and (max-width:1199px) {
    .services_about_image_block {
        width: 96%;

    }
}
/* @media screen and (min-width:765px) {
    .services_about_image_block{

    }
} */

@media screen and (min-width:1200px) {
    .services_about_image_block {
        
        line-height: var(--line-height-text);
        text-align: justify;
        width: 50%;
        height: 100%;
    }
}

@media screen and (max-width:764px) {
    .services_about_image {
        width: 100%;
    }
}

@media screen and (min-width:765px) {
    .services_about_image {
       
        /* line-height: var(--line-height-text); */
        text-align: justify;
        width: 100%;
    }
}
.services_about_list{
    font-size: var(--text-basic);
    list-style-type: circle;
    width: 94%;
    margin-left: auto;

}
@media screen and (max-width:764px) {
    .services_about_list {
        display: none;
        margin-top: 20px;
            list-style-type: circle;
            width: 97%;
            margin-left: auto;
    
        }
}

@media screen and (min-width:765px) {
.services_about_list {
    margin-top: 0;
        list-style-type: circle;
        width: 99%;
        margin-left: auto;

    }
}
.services_about_list--item{
    list-style-type: circle;
    list-style-position:inside;
    line-height: var(--line-height-text);
    padding-left: 20px;
    margin-bottom: 5px;
}
 /* PRICE */
.price {
    max-width: var(--width-basic);
    margin-bottom: 70px;

}
@media screen and (min-width:764px) {
    .price {
            max-width: var(--width-basic);
            margin-bottom: 120px;
    
        }
}

 @media screen and (max-width:1199px) {
    .services_price {
        width: 96%;
           
        }
 }

 @media screen and (min-width:1200px) {
    .services_price {
            width: 100%;    
        }
 }

tr .table_first_column{
    text-align: start;
    height: 40px;
}
/* @media screen and (min-width:765px) {
    tr {
        font-size: 14px;
    }
} */
thead {
    color: var(--dark-first);
    line-height: var(--line-height-text);
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}
@media screen and (min-width:765px) {
thead {
        color: var(--dark-first);
        line-height: var(--line-height-text);
        vertical-align: top;
        font-weight: bold;
        font-size: 20px;
        height: 40px;
    }
}
@media screen and (max-width:764px) {
.table_first_column {
    line-height: var(--line-height-text);
        height: 40px;
        width: 70%;
    }
}

@media screen and (min-width:765px) {
    .table_first_column {
            height: 35px;
            width: 50%;
        }
}

@media screen and (max-width:764px) {
    .table_second_column {
            width: 15%;
            text-align: center;
            padding-right: 10px;
        }
}

@media screen and (min-width:765px) {
    .table_second_column {
            width: 15%;
            text-align: center;
        }
}
.table_third_column{
    width: 25%;
    text-align: center;
}
@media screen and (max-width:764px) {
.table_third_column {
        width: 25%;
        text-align: center;
    }
}

@media screen and (min-width:765px) {
.table_third_column {
        width: 25%;
        text-align: center;
    }
}
.table_title{
    height: 45px;
}


 /* VIDEO */

/* .services_video{
max-width: 1200px;
    text-align: center;
    margin-bottom: 70px;

} */
@media screen and (max-width:764px) {
.services_video {
        max-width: 96%;
        text-align: center;
        margin-bottom: 70px;

    }
}
@media screen and (min-width:765px) and (max-width:1199px){
    .services_video {
        max-width: 96%;
        text-align: center;
        margin-bottom: 70px;

    }
}
@media screen and (min-width:1200px) {
    .services_video {
            max-width: 1200px;
            
            text-align: center;
            margin-bottom: 120px;
        }
}

@media screen and (max-width:764px) {
.services_video .services_video_frame{
        width: 96%;
        
    }
}

/* @media screen and (min-width:765px) {
.services_video {
        max-width: var(--width-basic);
        text-align: center;
        margin-bottom: 70px;
    }
} */
@media screen and (min-width:765px) {
    .services_video_frame {
        width: 50%;
            /* margin-top: 10px; */
        
}
}
/* .services_video_frame{
    margin-top: 10px;
    margin-bottom: 50px;

} */
.video_block{
    max-width: var(--width-basic);
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:765px) {
    .video_block{
        flex-direction: row;
    }
}

.services_video_text {
    font-size: var(--text-basic);
    padding-top: 50px;
    line-height: var(--line-height-text);
    width: 96%;
   
}
@media screen and (min-width:765px) and (max-width:1199px) {
    .services_video_text {
        display: flex;
        align-items: center;
        padding-top: 0px;
        font-size: var(--text-basic);
            vertical-align: middle;
            width: 50%;
            padding-left: 20px;
    
        }
}
@media screen and (min-width:1200px) {
    .services_video_text {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        font-size: var(--text-basic);
        vertical-align: middle;
        width: 50%;
        padding-left: 20px;

    }
}
 /* DETAILS */
 .services_detail{
    max-width: var(--width-basic);
    margin-bottom: 70px;

 }
 @media screen and (min-width:765px) {
    .services_detail {
            max-width: var(--width-basic);
            margin-bottom: 120px;
    
        }
 }

 
 @media screen and (max-width:764px) {
    .services_detail_text {
        margin-top: 0;
            font-size: var(--text-basic);
            height: auto;
            margin-bottom: 50px;
            width: 96%;
            text-align:justify;
            line-height: var(--line-height-text);
        }
 }
 @media screen and (min-width:765px) and (max-width:1199px) {
    .services_detail_text {
        margin-top: 0;
        font-size: var(--text-basic);
            height: auto;
            margin-bottom: 50px;
            width: 96%;
            text-align: start;
            line-height: var(--line-height-text);
        }
    }

 @media screen and (min-width:1200px) {
    .services_detail_text {
        margin-top: 0;
            font-size: 14px;
            height: auto;
            margin-bottom: 50px;
            width: 100%;
            text-align: start;
            line-height: var(--line-height-text);
        }
 }
 .services_detail__text{
    font-size: var(--text-basic);
    line-height: var(--line-height-text);
 }
 .services_detail_block{
    display: flex;
    flex-wrap: wrap;
 }

 .services_detail_item{
    width: 25%;
    text-align: center;
    padding-left: 5%;
        padding-right: 5%;
 }
 @media screen and (max-width:764px) {
    .services_detail_item {
            width: 50%;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
 }

 @media screen and (min-width:765px) {
    .services_detail_item {
            width: 25%;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
 }
 .services_detail__icon{
    fill: var(--dark-first);
    width: 45%;
    text-align: center;
 }
 .services_detail__text{
    width: 100%;
   
 }